.field-container {
    position: relative;
}

.field {
}

.field td {
    border: 1px solid #CCC;
}

.figures {
}

.figures > div {
    position: absolute;
}

.figure-wrapper {
    opacity: 0.7;
}

.figure-wrapper > div {
    background-color: gray;
    position: absolute;
}

.figure-walle {
    text-align: center;
}

.figure-block {
    text-align: center;
}

.field td.border-top {
    border-top: 1px solid black;
}

.field td.border-right {
    border-right: 1px solid black;
}

.field td.border-bottom {
    border-bottom: 1px solid black;
}

.field td.border-left {
    border-left: 1px solid black;
}

#speed-slider {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

#speed-slider .goog-slider-thumb {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: black;
}

#speed-value {
    width: 40px;
    text-align: right;
}